# Spam mail classification using ML

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer  # convert the data in numerical value
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
data= pd.read_csv(r"C:\Users\User\Desktop\study material\projects\datasets\spam mail classification using ml\mail_data.csv")

In [4]:
data.head(2)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...

In [5]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
data.duplicated().sum()

415

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [11]:
data.shape

(5572, 2)

In [13]:
data.drop_duplicates()

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5157 rows x 2 columns]

In [15]:
data.shape

(5572, 2)

## data labelling 0 as spam 1 as ham

In [21]:
data.loc[data["Category"] == "spam", "Category"] = 0
data.loc[data["Category"] == "ham", "Category"] = 1

In [23]:
data.head(6)

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...
5        0  FreeMsg Hey there darling it's been 3 week's n...

In [24]:
# separate the data as x and y
X= data["Message"]
Y= data["Category"]

In [30]:
X_train , X_test ,  Y_train, Y_test = train_test_split(X, Y,test_size= 0.2,random_state=4)

In [32]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

#### feature extraction

In [35]:
# transform the text data to feature vector which can be used as input

feature_Extraction = TfidfVectorizer(min_df=1, stop_words="english", lowercase=True)
X_train_features = feature_Extraction.fit_transform(X_train)
X_test_features = feature_Extraction.transform(X_test)


# convert y_train , y_test values as int

Y_train = Y_train.astype("int")
Y_test = Y_test.astype("int")

In [36]:
print(X_train_features)

  (0, 4076)	0.21814163878169243
  (0, 4189)	0.40714919169918795
  (0, 5531)	0.3423416769137198
  (0, 1705)	0.3274543662048457
  (0, 4787)	0.29950623963635054
  (0, 7166)	0.23411798769212422
  (0, 6220)	0.40714919169918795
  (0, 3094)	0.1960160348955552
  (0, 3189)	0.2695003791316419
  (0, 3068)	0.20722043882108684
  (0, 6023)	0.31295501407186926
  (1, 5240)	0.49842861309340514
  (1, 5773)	0.7151217422337083
  (1, 4061)	0.4900712309801611
  (2, 4744)	0.18868130288704416
  (2, 3339)	0.25960869981277335
  (2, 5823)	0.25061469947311094
  (2, 312)	0.1771020551801762
  (2, 299)	0.19209527463945028
  (2, 407)	0.2722850313233416
  (2, 7114)	0.2722850313233416
  (2, 1408)	0.18464166862372272
  (2, 5092)	0.18560370392241915
  (2, 2034)	0.18192137275151332
  (2, 5687)	0.20537868697819087
  :	:
  (4454, 2350)	0.3603401295867597
  (4455, 1263)	0.36319212343381085
  (4455, 1810)	0.36319212343381085
  (4455, 6428)	0.36319212343381085
  (4455, 6158)	0.34628357823652833
  (4455, 3285)	0.31737822930144755
  (4455, 1353)	0.324981330584005
  (4455, 1268)	0.27394793268337375
  (4455, 2856)	0.2516758365847381
  (4455, 3483)	0.24151640507435573
  (4455, 4470)	0.2851349711027913
  (4456, 64)	0.3385457318047022
  (4456, 671)	0.3385457318047022
  (4456, 4228)	0.3385457318047022
  (4456, 4684)	0.3385457318047022
  (4456, 7279)	0.26022300036687795
  (4456, 6601)	0.23884175715781628
  (4456, 6067)	0.22409034559050645
  (4456, 2954)	0.28984868954690285
  (4456, 5530)	0.18242204471967008
  (4456, 5843)	0.2629048714492601
  (4456, 2071)	0.21839161745326238
  (4456, 6297)	0.18384868970948873
  (4456, 4123)	0.2688969723960437
  (4456, 3078)	0.16235582628660974

#### training the model

In [38]:
model = LogisticRegression()

In [39]:
model.fit(X_train_features, Y_train)

LogisticRegression()

#### evaluating the trained model

In [41]:
predicition_on_training_data = model.predict(X_train_features)
accuracy = accuracy_score(Y_train,predicition_on_training_data)

In [43]:
print("the accuracy is",accuracy)

the accuracy is 0.9685887368184878

In [46]:
predicition_on_test_data = model.predict(X_test_features)
accuracy2 = accuracy_score(Y_test,predicition_on_test_data)

In [47]:
print("the accuracy is",accuracy2)

the accuracy is 0.9506726457399103

## build a predictive model

In [51]:
input_mail = ["Did you catch the bus ? Are you frying an egg ? Did you make a tea? Are you eating your mom's left over dinner ? Do you feel my Love ?"]
input_data_features = feature_Extraction.transform(input_mail)
prediction = model.predict(input_data_features)

print(prediction)

if prediction[0] ==1:
    print("ham mail")
else:
    print("spam mail")

[1]
ham mail

# end